In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [4]:
df = pd.read_csv('Sub0-RAW.csv')
df.head()

       Dates  Year  Month  Day    Hours  Precipitation  Temperature  Outflow
0  10/1/1980  1980     10    1  0:00:00            0.0      102.992      5.0
1  10/1/1980  1980     10    1  1:00:00            0.0       97.790      5.0
2  10/1/1980  1980     10    1  2:00:00            0.0       92.588      5.0
3  10/1/1980  1980     10    1  3:00:00            0.0       87.404      5.0
4  10/1/1980  1980     10    1  4:00:00            0.0       85.172      5.0

In [5]:
from torch.utils.data import TensorDataset, DataLoader

In [7]:
train_cols = ["Precipitation","Temperature","Outflow"]
data = df.filter(train_cols, axis=1).values
labels = df['Outflow'].values

In [8]:
waterflow = T

array([[  0.   , 102.992,   5.   ],
       [  0.   ,  97.79 ,   5.   ],
       [  0.   ,  92.588,   5.   ],
       ...,
       [  0.   ,  57.074,  29.   ],
       [  0.   ,  57.056,  31.   ],
       [  0.   ,  57.02 ,  38.   ]])