In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from keras.models import load_model
from tqdm import tqdm_notebook
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv('Sub0-RAW.csv')
df.head()

       Dates  Year  Month  Day    Hours  Precipitation  Temperature  Outflow
0  10/1/1980  1980     10    1  0:00:00            0.0      102.992      5.0
1  10/1/1980  1980     10    1  1:00:00            0.0       97.790      5.0
2  10/1/1980  1980     10    1  2:00:00            0.0       92.588      5.0
3  10/1/1980  1980     10    1  3:00:00            0.0       87.404      5.0
4  10/1/1980  1980     10    1  4:00:00            0.0       85.172      5.0

In [3]:
train_cols = ["Precipitation","Temperature","Outflow"]

In [4]:
new_df = df.filter(train_cols, axis=1)

In [5]:
def lag_seq(df, n_seq):
    for i in range(n_seq):
        df['Outflow(t+%d)' %(i+1)] = new_df['Outflow'].shift(-(i+1))
    return df

In [6]:
lag_df = lag_seq(new_df, 1)
lag_df.dropna(inplace=True)
lag_df

        Precipitation  Temperature  Outflow  Outflow(t+1)
0                 0.0      102.992      5.0           5.0
1                 0.0       97.790      5.0           5.0
2                 0.0       92.588      5.0           5.0
3                 0.0       87.404      5.0           5.0
4                 0.0       85.172      5.0           5.0
...               ...          ...      ...           ...
185538            0.0       52.880     29.0          30.0
185539            0.0       54.284     30.0          29.0
185540            0.0       55.670     29.0          29.0
185541            0.0       57.074     29.0          31.0
185542            0.0       57.056     31.0          38.0

[185543 rows x 4 columns]

In [7]:
#label_cols = ["Outflow(t+1)", "Outflow(t+2)", "Outflow(t+3)"]
label_cols = ["Outflow(t+1)"]

In [8]:
#Splitting training and test data
df_train, df_test = train_test_split(lag_df, train_size=0.8, test_size=0.2, shuffle=False)
x_train = df_train.loc[:,train_cols].values
y_train = df_train.loc[:,label_cols].values
x_test = df_test.loc[:,train_cols].values
y_test = df_test.loc[:,label_cols].values

In [9]:
# data preparation for tuning with extreme values
values_above_thres = []
labels_above_theres = []
index_values = []
threshold = 250
#timesteps = 18

for i in range(x_train.shape[0]):
    if (y_train[i] > threshold):
        values_above_thres.append(x_train[i])
        l
        index_values.append(i)

In [10]:
x_train.shape

(148434, 3)

In [11]:
x_train = list(x_train)
len(x_train)

148434

In [12]:
arr = ["Jani", "Hege", "Stale", "Kai Jim", "Borge"];
arr.insert(2, "Lene");
arr

['Jani', 'Hege', 'Lene', 'Stale', 'Kai Jim', 'Borge']

In [13]:
type(values_above_thres)

list

In [14]:
type(x_train)

list

In [15]:
for i in range(len(values_above_thres)):
    x_train.insert(index_values[i], values_above_thres[i])

In [16]:
len(x_train)

150112

In [19]:
148434 + 1678

150112

In [18]:
len(values_above_thres)

1678

In [20]:
x_train = np.array(x_train)

In [21]:
type(x_train)

numpy.ndarray

In [22]:
x_train

array([[  0.   , 102.992,   5.   ],
       [  0.   ,  97.79 ,   5.   ],
       [  0.   ,  92.588,   5.   ],
       ...,
       [  0.   ,  69.548,   1.   ],
       [  0.   ,  74.354,   1.   ],
       [  0.   ,  79.142,   1.   ]])

In [8]:
xx = [35,38,12,19,91,34,56,2,49,58]
ind = [2,3,5,8,9]
ap = [4,8,12,16,20]
cnt = 0
for i in range(len(ap)):
    for j in range(4):
        xx.insert(ind[i]+cnt,ap[i])
        cnt += 1
        print(xx)

[35, 38, 4, 12, 19, 91, 34, 56, 2, 49, 58]
[35, 38, 4, 4, 12, 19, 91, 34, 56, 2, 49, 58]
[35, 38, 4, 4, 4, 12, 19, 91, 34, 56, 2, 49, 58]
[35, 38, 4, 4, 4, 4, 12, 19, 91, 34, 56, 2, 49, 58]
[35, 38, 4, 4, 4, 4, 12, 8, 19, 91, 34, 56, 2, 49, 58]
[35, 38, 4, 4, 4, 4, 12, 8, 8, 19, 91, 34, 56, 2, 49, 58]
[35, 38, 4, 4, 4, 4, 12, 8, 8, 8, 19, 91, 34, 56, 2, 49, 58]
[35, 38, 4, 4, 4, 4, 12, 8, 8, 8, 8, 19, 91, 34, 56, 2, 49, 58]
[35, 38, 4, 4, 4, 4, 12, 8, 8, 8, 8, 19, 91, 12, 34, 56, 2, 49, 58]
[35, 38, 4, 4, 4, 4, 12, 8, 8, 8, 8, 19, 91, 12, 12, 34, 56, 2, 49, 58]
[35, 38, 4, 4, 4, 4, 12, 8, 8, 8, 8, 19, 91, 12, 12, 12, 34, 56, 2, 49, 58]
[35, 38, 4, 4, 4, 4, 12, 8, 8, 8, 8, 19, 91, 12, 12, 12, 12, 34, 56, 2, 49, 58]
[35, 38, 4, 4, 4, 4, 12, 8, 8, 8, 8, 19, 91, 12, 12, 12, 12, 34, 56, 2, 16, 49, 58]
[35, 38, 4, 4, 4, 4, 12, 8, 8, 8, 8, 19, 91, 12, 12, 12, 12, 34, 56, 2, 16, 16, 49, 58]
[35, 38, 4, 4, 4, 4, 12, 8, 8, 8, 8, 19, 91, 12, 12, 12, 12, 34, 56, 2, 16, 16, 16, 49, 58]
[35, 38, 4, 4, 4, 4, 12, 8, 8, 8, 8, 19, 91, 12, 12, 12, 12, 34, 56, 2, 16, 16, 16, 16, 49, 58]
[35, 38, 4, 4, 4, 4, 12, 8, 8, 8, 8, 19, 91, 12, 12, 12, 12, 34, 56, 2, 16, 16, 16, 16, 49, 20, 58]
[35, 38, 4, 4, 4, 4, 12, 8, 8, 8, 8, 19, 91, 12, 12, 12, 12, 34, 56, 2, 16, 16, 16, 16, 49, 20, 20, 58]
[35, 38, 4, 4, 4, 4, 12, 8, 8, 8, 8, 19, 91, 12, 12, 12, 12, 34, 56, 2, 16, 16, 16, 16, 49, 20, 20, 20, 58]
[35, 38, 4, 4, 4, 4, 12, 8, 8, 8, 8, 19, 91, 12, 12, 12, 12, 34, 56, 2, 16, 16, 16, 16, 49, 20, 20, 20, 20, 58]

In [ ]:
import

In [ ]:
class MyModelA(nn.Module):
    def __init__(self):
        super(MyModelA, self).__init__()
        self.fc1 = nn.Linear(10, 2)
        
    def forward(self, x):
        x = self.fc1(x)
        return x
    

class MyModelB(nn.Module):
    def __init__(self):
        super(MyModelB, self).__init__()
        self.fc1 = nn.Linear(20, 2)
        
    def forward(self, x):
        x = self.fc1(x)
        return x


class MyEnsemble(nn.Module):
    def __init__(self, modelA, modelB):
        super(MyEnsemble, self).__init__()
        self.modelA = modelA
        self.modelB = modelB
        self.classifier = nn.Linear(4, 2)
        
    def forward(self, x1, x2):
        x1 = self.modelA(x1)
        x2 = self.modelB(x2)
        x = torch.cat((x1, x2), dim=1)
        x = self.classifier(F.relu(x))
        return x

# Create models and load state_dicts    
modelA = MyModelA()
modelB = MyModelB()
# Load state dicts
modelA.load_state_dict(torch.load(PATH))
modelB.load_state_dict(torch.load(PATH))

model = MyEnsemble(modelA, modelB)
x1, x2 = torch.randn(1, 10), torch.randn(1, 20)
output = model(x1, x2)